body {
  background-color: #E5E3D4;
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
.stevec {
  text-align: center;
  border:#04AA6D
}
  .button1 {
    background-color: #04AA6D;
    float: right;
  }

  .button2 {
    background-color: #008CBA;
  }
  .button3 {
    background-color: bisque;
  }